@media screen and (max-width: 2559px) {
	.header__contacts-info p, .header__contacts-info a.header__tel{
		font-size: 28px;
	}
	.menu .menu-item a{
		font-size: 28px;
	}
	.header__content{
		padding-top: 40px;
	}
	.header__logo{
		width: 38%;
	}
	.header__description{
		font-size: 42px;
	}
}

@media screen and (max-width: 1920px) {
	header::before, .cost__content::before, .orderform::before{
		width: 200px;
		height: 200px;
		background-size: 100%;
	}
	header::after, .cost__content::after, .orderform::after{
		width: 200px;
		height: 200px;
		background-size: 100%;
	}
	.header__contacts{
		padding-top: 30px;
	}
	.header__contacts-info p, 
	.header__contacts-info a.header__tel{
		font-size: 24px;
	}
	.header__contacts-ico{
		width: 60px;
	}
	.menu{
		width: 75%;
	}
	.menu .menu-item a{
		font-size: 22px;
	}
	.header__contacts-info .theme-btn{
		font-size: 22px;
		padding: 10px;
	}
	.header__content{
		padding-top: 14px;
	}
	.header__logo{
		width: 30%;
	}
	.header__description{
		font-size: 34px;
	}
	.theme-btn_large,
	.pavilion-order .theme-btn,
	.orderform__form input,
	.cost__title,
	.cost__item .theme-btn,
	.people__info,
	.quest__item-box p,
	.quest__list li{
		font-size: 28px;
	}
	.services__title,
	.pavilion__info-title,
	.section__description,
	.delivery__info li, 
	.people__info li,
	.modal__window input,
	.childreorder__form input{
		font-size: 26px;
	} 
	.people h3.people__name,
	.modal__window p{
		font-size: 42px;
	}


	.theme-btn_large,
	.pavilion-order .theme-btn{
		padding: 22px 30px;
	}
	.services__item img{
		width: 140px;
	}
	
	.section__title,
	.freedate__description{
		font-size: 38px;
	} 
	.section__header {
		padding-top: 60px;
		padding-bottom: 55px;
	}
	.services__cat-title{
		font-size: 36px;
	}
	
	.freedate .accent{
		font-size: 80px;
	}
	.freedate .theme-btn{
		font-size: 36px;

	}
	.cost__content{
		padding-top: 235px;
	}
	
	.cost__title {
		width: 190px;
		height: 190px;
	}
	.cost__item .theme-btn {
		padding-left: 80px;
		padding-right: 80px;
	}
	.pavilion__info-ico{
		height: 90px;
	}
	.section__title_underline{
		padding-bottom: 22px;
	} 
	.delivery__info{
		padding-left: 0;
	}
	.delivery__info ul, .people__info ul{
		margin-bottom: 26px;
		padding-left: 0;
	}
	.delivery__image img{
		//max-width: 1120px;
		left: -6%;
	}
	.delivery__info li, .people__info li{
		font-size: 20px;
	}
	.people__info {
		padding: 80px 60px;
	}
	.orderform__form {
		padding-top: 58px;
	}
	.orderform__form input{
		padding: 22px;
		margin-bottom: 34px;
	}
	.orderform__form .theme-btn {
	    padding: 15px 45px;
	    font-size: 32px;
	}
	.people__info-slider{
	}	
	
	.services__cat-description{
		font-size: 22px;
	}
	.modal__window input,
	.childreorder__form input{
		padding: 26px;
	}
	.modal__window button{
		font-size: 32px;
	}
	.quest__item{
		max-width: 680px;
	}
	.quest__item-box p{
		padding: 50px;
	}
	.quest__list li::before{
		width: 60px;
		height: 60px;
	}
	.quest__list li{
		margin-left: 118px;
	}
	.quest__item .fox, .quest__item .corp-quest{
		max-width: 550px;
	}
	.childreorder__form button{
		font-size: 34px;
	}
	.cost__title img {
		width: 36px;
	}
	.footer__map iframe{
		height: 680px;
	}
}

@media screen and (max-width: 1660px) {
	.header__contacts-info p, .header__contacts-info a.header__tel{
		font-size: 20px;
	}
	.header__contacts-ico{
		width: 50px;
	}
	.menu{
		padding: 12px;
		margin-bottom: 0;
	} 
	.menu .menu-item a{
		font-size: 18px;
	}
	.header__contacts-info .theme-btn{
		margin-top: 10px;
		font-size: 18px;
	}
	.header__description{
		font-size: 26px;
		margin-top: 5px;
		margin-bottom: 20px;
	}
	.theme-btn_large, .pavilion-order .theme-btn{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.theme-btn_large, .pavilion-order .theme-btn, .orderform__form input, .cost__title, .cost__item .theme-btn, .people__info, .quest__item-box p, .quest__list li{
		font-size: 24px;
	}
	.services__item img {
		width: 100px;
	}
	.services__title, .pavilion__info-title, .section__description, .delivery__info li, .people__info li, .modal__window input, .childreorder__form input{
		font-size: 20px;
	}
	.section__title, .freedate__description {
		font-size: 30px;
	}
	.section__header {
		padding-top: 45px;
		padding-bottom: 40px;
	}
	.services{
		padding-bottom: 20px;
	}
	.freedate__description{
		margin-bottom: 10px;
	}
	.freedate .accent{
		font-size: 70px;
		margin-bottom: 30px;
	}
	.freedate .theme-btn{
		font-size: 28px;
	}
	.help{
		padding-bottom: 74px;
	}
	.help__list-box{
		height: 250px;
		width: 250px;
	}
	.help__item{
		font-size: 18px;
	}
	.quest__item{
		max-width: 500px;
	}
	.quest__item .fox, .quest__item .corp-quest{
		max-width: 430px;
	}
	.quest__list{
	}
	.quest__list li{
		font-size: 14px;
	}
	.quest__list li{
		margin-left: 74px;
	}
	.quest__list li::before{
		width: 40px;
		height: 40px;
	}
	.cost__title{
		width: 140px;
		height: 140px;
		font-size: 20px;
	}
	.cost__title img{
		width: 26px;
	}
	.cost__info{
		padding-top: 64px;
	}
	.cost__list li{
		font-size: 18px;
	}
	.cost__total-item img{
		width: 45px;
	}
	.cost__total-item span{
		font-size: 18px;
	}
	.modal__window input, .childreorder__form input{
		padding: 20px;
	}
	.childreorder__form button{
		font-size: 26px;
		padding: 20px;
	}
	.pavilion__info{
		padding-left: 10%;
		padding-right: 10%;
	}
	.pavilion__info-ico{
		height: 65px;
	}
	.pavilion__info-title{
		font-size: 18px;
	}
	.section__description{
		width: 60%;
	}
	.delivery__info ul, .people__info ul{
		margin-bottom: 18px;
	}
	.delivery__image img {
		height: 90%;
	}
	.delivery__info{
		padding-left: 20px;
	}
	.delivery__info li{
		font-size: 16px;
	}
	.delivery__info h3{
		margin-bottom: 15px;
		margin-top: 0;
		font-size: 21px;
	}
	.delivery__info li::before, .people__info li::before{
		width: 4px;
		height: 4px;
		top: -4px;
	}
	.services__cat-title{
		font-size: 24px;
	}
	.help{
		padding: 45px 0;
	} 
	.quest__item-box p{
		font-size: 20px;
	}
	.cost__content .row{
		width: 85%;
	}
	.cost__content{
		padding-top: 120px;
	}
	.cost__item{
		margin-bottom: 150px;
	}
	.cost__item .theme-btn{
		padding: 14px 50px;
	}
	.section__description{
		margin-bottom: 10px;
	} 
	.people__info{
	}
	.services__cat-description{
		font-size: 16px;
		padding-bottom: 60px;
	}
	.orderform{
		padding: 65px 0;
	}
	.orderform__form input {
		padding: 16px;
		margin-bottom: 22px;
		font-size: 16px;
		max-width: 400px;
	}
	.orderform__form .theme-btn{
		padding: 12px 45px;
		font-size: 20px;
	}
	.people .section__header{
		padding-bottom: 0;
	}
	.people__image{
		height: auto;
	}
	.people__image-carousel{
		width: 105%;
		transform: translateX(-90px);
	}
	.people__info-slider{
	}
	.people h3.people__name, .modal__window p{
		font-size: 32px;
	}
	.people h3.people__name{
		margin-bottom: 12%;
	}
	.people__link{
		font-size: 16px;
	} 
	.people__info{
		padding: 0 60px;
		margin-top: 8%;
		font-size: 21px;
	}
	.footer__map iframe{
		height: 460px;
	}
	.modal__window{
		padding: 50px;
		max-width: 920px;
	}
	.modal__window p{
		font-size: 24px;
	}
	.modal__window .modal-close{
		width: 30px;
	}
	.modal__window input, .childreorder__form input{
		padding: 16px;
	}
	.modal__window button{
		font-size: 26px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.section__title_underline::after{
		height: 6px;
	}

}
@media screen and (max-width: 1367px) {
	.header__top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-left: 5%;
		padding-right: 5%;
	}
	header{
		height: auto;

	}
	.header__content{
		padding: 0;
		&-box{
			height: 100vh;
			min-height: 700px;
			justify-content: center;
			align-items: center;
		}
	}
	.header__contacts{
		padding-top: 15px;
		padding-bottom: 10px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 1200px) {
	
	.header__contacts-info{
		max-width: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.header__contacts-item {
		margin-left: 15px;
	}
	.header__contacts-info p, .header__contacts-info a.header__tel{
		font-size: 14px;
	}
	.header__contacts-ico {
	}
	.header__contacts-info .theme-btn {
		font-size: 13px;
		margin-top: 4px;
		padding: 8px;
	}
	.menu{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.menu .menu-item a {
		font-size: 14px;
	}
	.header__description{
		font-size: 20px;
	}
	.theme-btn_large, .pavilion-order .theme-btn, .orderform__form input, .cost__title, .cost__item .theme-btn, .people__info, .quest__item-box p, .quest__list li{
		font-size: 18px;
	}
	.header__logo{
		margin-top: 0;
	}
	header::before, .cost__content::before, .orderform::before{
		width: 150px;
		height: 150px;
	}
	header::after, .cost__content::after, .orderform::after{
		width: 150px;
		height: 150px;
	}
	.services{
		padding-top: 35px;
	}
	.services__item img {
		width: 75px;
	}
	.services__title, .pavilion__info-title, .section__description, .delivery__info li, .people__info li, .modal__window input, .childreorder__form input {
		font-size: 16px;
	}
	.services__cat-title{
		font-size: 22px;
		padding: 15px;
	}
	.services__cat-item{
		margin-bottom: 16px;
	}
	.section__title, .freedate__description{
		font-size: 24px;
	}
	.services__cat-item:nth-child(odd){
		padding-right: 8px;
	}
	.services__cat-item:nth-child(even){
		padding-left: 8px;
	}
	.freedate .accent {
		font-size: 60px;
		margin-bottom: 22px;
	}
	.freedate .theme-btn{
		font-size: 24px;
	}
	.help__list-box{
		width: 150px;
		height: 150px;
	}
	.help__item{
		font-size: 13px;
	} 
	.cost__title {
		font-size: 14px;
		width: 110px;
		height: 110px;
	}
	.cost__info{
		padding-top: 38px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.cost__list li{
		font-size: 14px;
	}
	.cost__total{
		padding: 10px 0;
	} 
	.cost__total-item img{
		width: 30px;
		margin-right: 8px;
	}
	.cost__total-item span{
		font-size: 14px;
	}
	.theme-btn_large, .pavilion-order .theme-btn, .orderform__form input, .cost__title, .cost__item .theme-btn, .people__info, .quest__item-box p, .quest__list li{
		font-size: 16px;
	}
	.cost__content{
		padding-top: 90px;
		padding-bottom: 0;
	}
	.pavilion__info{
		padding-bottom: 30px;
	} 
	.pavilion__gallery-item{
		margin: 0 8px;
	}
	.pavilion-order{
		padding: 25px 0;
	}
	
	.delivery__info li::before, .people__info li::before{
		top: -2px;
	}
	
	.services__cat-description{
		padding: 20px 60px;
		font-size: 16px;
	}
	.orderform__form{
		padding-top: 40px;
	}
	.orderform__form input{
		padding: 14px;
		max-width: 370px;
		font-size: 14px;
	}
	.people h3.people__name, .modal__window p{
		
	}
	.people h3.people__name{
		margin-bottom: 100px;
		font-size: 28px;
	}
	.people__link{
		font-size: 14px;
	}
	.portfolio__item{
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	.people .slick-arrow{
		width: 30px;
		height: 30px;
	}
	.people__image-carousel{
		width: 120%;
		transform: translateX(-64px);
	}
	.people .slick-prev{
		transform: translateY(-100%) rotate(-45deg);
	}
	.people .slick-next{
		transform: translateY(-100%) rotate(135deg);
	}
	.modal__window input {
		margin-bottom: 18px;
	}
	.modal__window button,
	.childreorder__form button{
		font-size: 18px;
		width: 100%;
	}
	.modal__window{
		max-width: 720px;
	}
	.cost__title img {
		width: 18px;
	}
	.childreorder__form input{
		margin-bottom: 20px;
	}
	.quest__item{
		width: 400px;
	}
	.quest__item p{
		padding: 20px;
	}
	.quest__item .fox, .quest__item .corp-quest{
		max-width: 290px;
	}
	.quest__list li{
		margin-bottom: 26px;
	}
	
}

@media screen and (max-width: 992px) {
	.menu .menu-item a{
		font-size: 12px;
	}
	.section__title_underline::after{
		height: 3px;
	}
	.quest__item p{
		font-size: 14px;
	}
	.quest__item{
		width: 350px;
	}
	.quest__item .fox, .quest__item .corp-quest{
		max-width: 230px;
	}
	.quest__list li{
		font-size: 12px;
		margin-left: 50px;
	}
	.quest__list li::before{
		width: 28px;
		height: 28px;
	}
	.cost__content .row{
		width: 96%;
	}
	.cost__title {
		width: 96px;
		height: 96px;
		font-size: 12px;
		img{
			margin-bottom: 8px;
		}
	}
	.cost__info{
		padding-top: 40px;
	}
	.cost__list{
		margin-bottom: 0;
	}
	.cost__list li{
		font-size: 12px;
	}
	.cost__total-item img{
		width: 22px;
	}
	.cost__total-item span{
		font-size: 12px;
	}
	.cost__item .theme-btn{
		font-size: 14px;
		padding: 12px 38px;
	}
	.pavilion__gallery .slick-arrow{
		width: 24px;
		height: 24px;
		border-top: 2px solid #1ee14b;
		border-left: 2px solid #1ee14b;

	}
	.section__title, .freedate__description{
		font-size: 22px;
	}
	.pavilion__gallery-item{
		margin: 0 5px;
	}
	.services__title, .pavilion__info-title, .section__description, .delivery__info li, .people__info li, .modal__window input, .childreorder__form input{
		font-size: 14px;
	}
	.childreorder__form button{
		font-size: 18px;
		max-width: -350px;
	}
	.childreorder__form{
		max-width: 350px;
	}
	.pavilion__info-ico{
		height: 48px;
		margin-bottom: 10px;
	}
	.delivery__info li::before, .people__info li::before{
		height: 4px;
		width: 4px;
	}
	.delivery__info ul, .people__info ul{
		margin-top: 0;
	}
	.delivery__image img{
		height: 110%;
	}
	.services__cat-description{
		padding: 20px 25px;
		font-size: 12px;
	}
	.people h3.people__name{
		margin-top: 0;
		font-size: 22px;
		margin-bottom: 14%;
	}
	.people__info{
		padding-top: 10%;
		padding-bottom: 20px;
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.people__info-slider{
		padding-left: 15px;
		padding-right: 25px;
	}
	.team-slider .slick-arrow{
	    border-top: 4px solid #1ee14b;
    	border-left: 4px solid #1ee14b;
	}
	.footer__map iframe {
		height: 350px;
	}
	.people__image img{
		height: 90%;
	}
}

@media screen and (max-width: 768px) {

	header{
		height: auto;
	}
	.header__contacts{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-left: 18px;
		padding-right: 18px;
		padding-top: 18px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		z-index: 2;
		&-item{
			margin-left: 0;
			&:first-child{
				margin-bottom: 14px;
			}
		}
	}
	.header__navbar{
		position: absolute;
		top: 18px;
		right: 18px;
		left: 18px;

	}
	.menu .menu-item a{
		font-size: 22px;
	}
	.menu .menu-item{
		margin-bottom: 22px;
	}
	.menu{
		position: absolute;
		top: 140%;
		left: 0;
		right: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 30px 0;
		background: rgba(0,0,0,.9);
		width: 100%;
		opacity: 0;
		transform: translateX(400%);
		transition: opacity .3s, transform 1s;
		li{
			margin-bottom: 50px;
			width: 100%;
			max-width: 420px;
			text-align: center;
			margin-bottom: 14px;
			a{
				font-size: 24px;
			}
		}
		&_visible{
			transform: translateX(0);
			opacity: 1;
			transition: transform .3s, opacity .3s;
			z-index: 50;
		}


	}
	.header__contacts-info .theme-btn,
	header::before, .cost__content::before, .orderform::before,
	header::after, .cost__content::after, .orderform::after{
		display: none;
	}
	.menu-init{
		display: block;
		background: transparent;
		border: none;
		width: 50px;
		margin-left: auto;
		position: relative;
		z-index: 5;
		img{
			display: block;
			width: 100%;
		}
	}
	.header__contacts-info p, .header__contacts-info a.header__tel{
		font-size: 20px;
	}
	.header__content{
		padding: 0;
		z-index: 6;
	}
	.header__content-box{
		width: 100%;
		height: 100vh;
		padding: 15px;
		justify-content: center;
		align-items: center;
	}
	.header__logo {
		width: 80%;
		max-width: 420px;
	}
	.header__description{
		width: 100%;
		margin-bottom: 20%;
	}
	.help{
		background: transparent;
	}
	.help__list{
		&::after{
			display: none;
		}
	}
	.help__list-box img{
		display: none;
	}
	.help__list-box{
		width: 100%;
		max-width: 420px;
		position: relative;
		transform: none;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
		margin: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

	}
	.section__header{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section__title, .freedate__description{
		font-size: 29px;
	}
	.help__item{
		display: block;
		position: relative;
		transform: none;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		width: 80%;
		max-width: 420px;
		text-align: justify;
		font-size: 22px;
		text-align: left;
		color: #7dd956;
		margin-left: auto;
		margin-bottom: 14px;
		&::before{
			content: '';
			display: inline-block;
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translate(0, -50%);
			width: 40px;
			height: 40px;
			background-image: url('../img/quest/point.png');
			background-size: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 10px;
		}
		br{
			display: none;
		}

	}

	.quest__item{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.quest__item .fox, .quest__item .corp-quest,
	.quest__list{
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		width: 50%;

	}
	.quest__list{
		order: 2;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.quest__item-box{
		order: 3;
	}
	.fox,
	.corp-quest{
		display: flex;
		justify-content: center;
		align-items: center;	

	}
	.quest__item .fox img, .quest__item .corp-quest img{
		width: 115%;
	}
	.cost__item{
		width: 100%;
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	.cost__title{
		width: 120px;
		height: 120px;
		font-size: 18px;
	} 
	.cost__info{
		padding-top: 54px;
		font-size: 14px;
	} 
	.cost__item .theme-btn {
	    font-size: 26px;
	    padding: 8px 30px;
	    transform: translate(-50%, 20px)
	}
	.childreorder__form{
		max-width: 270px;
	}
	.childreorder__form input{
		font-size: 20px;
		padding: 12px;
	}
	.childreorder__form button{
		font-size: 22px;
		padding: 11px;
	}
	.cost__list li{
		font-size: 16px;
	}
	.cost__total-item img{
		width: 28px;
	}
	.cost__total-item span{
		font-size: 18px;
	}
	.pavilion__info-item{
		margin-bottom: 40px;

	}
	.pavilion__info-title{
		width: 100%;
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
		font-size: 22px;
	}
	.quest__item p{
		padding: 2px;
		font-size: 16px;
		margin: 0;
	}
	.quest__list li{
		font-size: 22px;
		margin-left: 0;
	}
	.feedback__window{
		width: 100%;
	} 
	.people h3.people__name{
		font-size: 18px;
		margin-bottom: 10%;
	}
	.people__link{
		font-size: 12px;
	}
	.people__info{
		padding-top: 0;
		padding-bottom: 0;
	}
	.people__info-slider{
		padding-left: 0;

	}
	.people .slick-arrow{
		width: 20px;
		height: 20px;
	}
	.header__content-box{
		padding-top: 128px;
		min-height: 0;
	}
	.header__description{
		margin-bottom: 14%;
		font-size: 26px;	
	}
	.people .section__header{
		padding-bottom: 20px;
	}
	.pavilion__gallery{
		width: 100%;
	}
	.pavilion__gallery-item{
		margin: 0;
	}
	.pavilion__gallery .slick-prev{
		left: 10px;
		right: auto;
		z-index: 8;
	}
	.pavilion__gallery .slick-next{
		right: 10px;
		left: auto;
		z-index: 8;
	}
	.pavilion__info-ico{
		height: 70px;
	}
	.pavilion-order .theme-btn,
	.theme-btn_large{
		font-size: 26px;
	}
	.delivery__info-box ul li{
		font-size: 18px;
	}
	.header__content .theme-btn{
		font-size: 24px;
	}
	.portfolio__item{
		padding-left: 1px;
		padding-right: 1px;
		margin-bottom: 2px;
	}
	.services__cat-description{
		font-size: 20px;
	}
	.orderform__form input{
		font-size: 20px;
	}
	.orderform__form .theme-btn {
		font-size: 29px;
	}
	.cost__item {
		margin-bottom: 200px;
	}
	.modal__window input{
		font-size: 22px;
	}
	.modal__window .theme-btn{
		font-size: 24px;
	}

	

}

@media screen and (max-width: 567px) {
	.desktop-img{
		display: none !important;
	}
	.mobile-img{
		display: block !important;
	}
	.people__image{
		width: 100%;
		overflow: hidden;
	}
	.people__image img{
		width: 100%;
		height: auto;
		left: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.people__info-slider{
		position: relative;
		padding: 0;
		&::after{
			content: '';
			display: block;
			width: 100%;
			padding-top: 60%;
		}
			
	}
	.people__info-item{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.team-slider .slick-arrow{
		top: 30%;
	}
	.people__link{
		border: 2px solid #7dd956;
	}
	.people h3.people__name{
		margin-bottom: 5%;
	}
	
	
	.delivery__image{
		overflow: hidden;


	}
	.delivery__image img{
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		left: auto;
	}
	.section__description{
		margin-bottom: 0;
		width: 100%;
	}
	.delivery__info{
		padding: 35px;
		padding-top: 0;
		padding-bottom: 0;

	}
	.delivery__info-box{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 18px;
		p, ul{
			width: 100%;
		}
	}
	
	.services__cat-item{
		padding: 0 !important;
	}
	.header__content-box{
		padding-top: 128px;
		min-height: 0;
	}
	.modal__window{
		padding: 70px 20px;
		p{
			font-size: 22px;
			margin-bottom: 40px;
		}
	}
	.modal__window .modal-close{
		width: 18px;
	}
	.orderform__form input{
		width: 90%;
	}
	.services__row{
		width: 100%;
	}
	.services__item img{
		width: 40px;
		margin-bottom: 6px;
	}
	.services__title{
		font-size: 12px;
	}
	.people h3.people__name{
		font-size: 26px;
	}
	.people__link{
		font-size: 16px;
	}
	.people__info{
		font-size: 18px;
	}
	.people__info-item{
		padding-top: 50px;
	}

}

@media screen and (max-width: 360px) {
	.modal__window{
		width: 98%;
		height: 98%;
		padding: 70px 20px;
		p{
			font-size: 20px;
		}
	}
	.header__description,
	.header__content .theme-btn{
		font-size: 20px;
	}
	.header__contacts-ico{
		width: 36px;
	}
	.header__contacts-info p, .header__contacts-info a.header__tel{
		font-size: 16px;
	}
	.menu-init{
		width: 40px;
	}
	.section__header{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 40px;
		padding-bottom: 40px;
	} 
	.section__title, .freedate__description {
		font-size: 26px;
	}

	.help__item{
		font-size: 20px;
	}
	.quest__list li{
		font-size: 16px;
	}
	.cost__title {
		width: 112px;
		height: 112px;
	}
	.cost__list{
		margin-top: 0;
	}
	.cost__item .theme-btn,
	.orderform__form .theme-btn{
		font-size: 24px;
	}
	.pavilion-order .theme-btn, .theme-btn_large{
		font-size: 20px;
	}
	.services__cat-description{
		text-align: justify;
		font-size: 17px;
	}
	.orderform__form input{
		padding: 12px;
	}
	.people h3.people__name{
		font-size: 22px;
	}
	.pavilion__info-title{
		font-size: 18px;
	}
	.menu .menu-item a{
		font-size: 19px;
	}
}