@import '_fonts.scss'
@import '_mixin.sass'
@import '_global.sass'


/** Header **/
@import "components/_header.sass"
/** /.Header **/

/** Services **/
@import "components/_services.sass"
/** /.Services **/

/** Freedate **/
@import "components/_freedate.sass"
/** /.Freedate **/

/** Help **/
@import "components/_help.sass"
/** /.Help **/

/** Cost **/
@import "components/_cost.sass"
/** /.Cost **/

/** Pavilion **/
@import "components/_pavilion.sass"
/** /.Pavilion **/

/** Delivery **/
@import "components/_delivery.sass"
/** /.Delivery **/

/** Orderform **/
@import "components/_orderform.sass"
/** /.Orderform **/

/** feedback **/
@import "components/_feedback.sass"
/** /.feedback **/

/** portfolio **/
@import "components/_portfolio.sass"
/** /.portfolio **/

/** quest **/
@import "components/_quest.sass"
/** /.quest **/

/** footer **/
@import "components/_footer.sass"
/** /.footer **/

/** modal **/
@import "components/_modal.sass"
/** /.modal **/



.theme-btn
	display: inline-block
	padding: 12px 
	border-radius: 10px
	background-color: #81e059
	color: #030303 !important
	+os
	+uppercase
	font-size: 25px
	font-weight: 400
	transition: .3s
	&_large
		padding: 25px 25px
		font-size: 32px
	&:hover
		transform: scale(0.95)

@import '_media.scss'
