.delivery,
.people 
	&__image
		position: relative
		height: 100%		
		img 
			display: block
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 0			
			bottom: 0
			height: 80%
			left: -50px
		&::after
			content: ''
			display: block
			width: 100%
			padding-top: 90%
	&__info 
		padding: 10px 85px
		display: flex
		justify-content: center
		align-items: center
		h3 
			text-transform: uppercase
			color: #7dd956
			+bold
			font-size: 29px
		ul 
			padding-left: 0
			margin-bottom: 60px
			&:last-child
				margin-bottom: 32px
		li			 
			+bold
			color: #020202
			font-size: 33px
			font-weight: 400
			position: relative
			&::before 
				content: ''
				display: inline-block
				height: 8px
				width: 8px
				background-color: #020202
				border-radius: 50% 
				margin-right: 10px
				position: relative
				top: -7px
			a 
				color: inherit 
				&:hover
					text-decoration: underline

.team-slider
	width: 100%	
	outline: none
	.slick-arrow
		position: absolute
		top: 50%
		font-size: 0
		border: none
		background: transparent
		width: 40px
		height: 40px
		border-top: 6px solid #1ee14b
		border-left: 6px solid #1ee14b
	.slick-prev
		left: 2%
		transform: translateY(-50%) rotate(-45deg)
		z-index: 10 

	.slick-next
		right: 2%		
		transform: translateY(-50%) rotate(135deg)			 
.people
	

	position: relative
	.container-fluid
		padding-left: 0
		padding-right: 0
		outline: none
	&__content
		display: flex
		flex-direction: row
		align-items: center
		position: relative
	&__info-slider
		padding-top: 20px
		padding-bottom: 20px		
		padding-left: 45px
		padding-right: 45px				
		display: flex
		justify-content: center
		align-items: center
		outline: none
		position: absolute
		right: 0
		top: 0
		bottom: 0

	&__info-item
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		text-align: center
		top: 0
		left: 0
		right: 0
		bottom: 0
		
	h3.people__name
		font-size: 50px
		color: #070707
		+os 
		display: inline-block
		margin-bottom: 12%
		margin-top: 0
	&__link
		+os 
		font-size: 25px
		padding: 10px
		border-radius: 10px
		border: 5px solid #7dd956
		color: #070707
	&__info
		font-size: 33px
		+os 
		color: #070707
	&__image
		position: relative
		float: left		
		img 
			display: block
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 0			
			bottom: 0
			height: 80%
			left: -4%
		//&::after
			//content: ''
			//display: block
			//width: 100%
			//padding-top: 90%

	&__image-carousel
		

	 